# IDE-s #
.idea

.DS_Store

# Node Files #
/node_modules
/bower_components
npm-debug.log
/coverage

/copy

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
index.js
index.js.map
index.js.d.ts

/copy
/typings
/js
 

 
