# IDE-s #
.idea

# Node Files #
/node_modules
/bower_components
npm-debug.log

/copy
/coverage
/config
/dll
/.vscode
/.githubme

# can use belowe becouse issiue
# https://github.com/angular/angular-cli/issues/3426
# /src/**/*.ts
# !/src/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

/docs
/preview
/scripts
/typings

/src/app/assets
/src/app/meta
/src/app/styles

/karma.conf.js
karma.conf.js
protractor.conf.js
tsconfig.json
tsconfig.webpack.json
webpack.config.js
tslint.json
typedoc.json
netlify.tomp
Dockerfile
firebase.json
netlify.toml