<div class="nav-buttons">
    <div>
        <div class="arrow left" arrow [ngClass]="{'normalOpacity': slider.arrow.left.isVisible()}" 
        (mousedown)="onMouseDown($event,'left')" (mouseup)="onMouseUp($event)" >

            <span class="fa fa-arrow-left"></span>
        </div>
        <div class="arrow right" arrow [ngClass]="{'normalOpacity': slider.arrow.right.isVisible()}" 
        (mousedown)="onMouseDown($event,'right')" (mouseup)="onMouseUp($event)" >

            <span class="fa fa-arrow-right"></span>
        </div>
    </div>
</div>
<div class="container" #container >
    <div class="items-wrapper" #wrapper
        (DOMMouseScroll)="onMouseWheelFirefox($event)"
        (mousewheel)="onMouseWheel($event)"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        (touchmove)="onTouchMove($event)"
    >
        <ng-content></ng-content>
    </div>

</div>

