/*styles for home content only*/

*[child] {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    padding: 20px;
    border-right: 1px solid gray;
    background: lightgrey;
}